<!DOCTYPE html>
<html>

    <%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>
        
        <%- include('partials/form_login.ejs') %>

        <%- include('partials/footer.ejs') %>
        
    </body>

</html>