<!DOCTYPE html>
<html>

    <%- include('partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>

        <div class="padre_error_img">
            <img class="error_img" src="images/error404.webp" alt="ERROR 404">
        </div>
        
        
        <%- include('partials/footer.ejs') %>
        
    </body>
</html>