<!DOCTYPE html>
<html>

    <%- include('partials/head.ejs') %>
    
    <body>

        <%- include('partials/header.ejs') %>

        <%- include('partials/form_register.ejs') %>

        <%- include('partials/footer.ejs') %>
        
    </body>
</html>