<footer>
        
    <div>
        <i class="fas fa-credit-card"></i>
        <h4>Paga con tarjeta o efectivo</h4>
        <p>Con MercadoLibre tenés cuota sin interés</p>
    </div>
    
    <div>
        <i class="fas fa-gift"></i>
        <h4>Envío gratis de los $2.500</h4>
        <p>Solo por estar registrado tenés envíos graits</p>
    </div>
        
    <div>
        <i class="fas fa-user-shield"></i>
        <h4>Seguridad de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! Estás protegido</p>
    </div>    

</footer>