<main class="login">
    <form action="/login" method="POST">
        <div><input type="text" name="user" placeholder="Nombre de usuario"></div> 
        <div><input type="password" name="pass" placeholder="Elegí tu contraseña"></div> 
        <div><input class="boton_enviar" type="submit" value="Enviar"></div>
    </form>
</main>