<main class="register">
    <form class="registro" action="/register" method="POST">
        <input type="text" name="name" placeholder="Nombre y apellido">
        <br>
        <input type="text" name="user" placeholder="Nombre de usuario">
        <br>
        <input type="email" name="email" placeholder="E-mail">
        <br>
        <label id=label_nac for="birth_date"><b>Fecha de nacimiento</b></label>
        <br>
        <input class="fecha" type="date" name="birth_date" id="birth_date">
        <br>
        <input type="text" name="addres" placeholder="Domicilio">
        <h4>Perfil del usuario</h4>
        <div class="profile">
            <input type="radio" name="profile" value="buy" id="buy">
            <label for="buy">Comprador</label>
            <input type="radio" name="profile" value="sell" id="sell">
            <label for="sell">Vendedor</label>
        </div>

        <h4>Intereses</h4>
        <div class="interests">
            <div>
                <input type="checkbox" name="interests" value="a" id="a">
                <label for="a">Electro</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="b" id="b">
                <label for="b">Moda</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="c" id="c">
                <label for="c">Hogar</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="d" id="d">
                <label for="d">Juguetería</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="e" id="e">
                <label for="e">Vida sana</label>
            </div>
        </div>
        
        <h4>Elegí tu foto de usuario</h4>
        <input class="archivo" type="file" name="avatar">
        <br>
        <br>
        <input type="password" name="pass" placeholder="Elegí tu contraseña">
        <br>
        <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
        <br>
        <br>
        <input class="boton_enviar" type="submit" value="Enviar">
        <input class="boton_cancelar" type="reset" value="Borrar">
        <br>
        <br>
    </form>
</main>
